.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5rem;
    margin-top: 40px;
    margin: 140px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.box p {
    margin-top: 2rem;
}

.title {
    text-align: center;
}
