{% extends "base.html" %}
{% block content %}

<div class="main-container">
  <h1 class="title">Handwritten digit Recognition</h1>
  <div>
    <div class="box">
      <form class="p-3 text-center" action="/" method="POST" enctype="multipart/form-data">
        <b>
          <input class="form-control" type="file" name="imagefile"> <br><br>
          <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
      </form>
      <p>Upload the Image to get digital output</p>
    </div>
    <!-- <div class="box">
      <a class="button is-info" href="/add-data">add data</a>
      <p>improve the model by adding data</p>
    </div> -->
  </div>
</div>

{% endblock %}